.site-header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    margin: 0;
    padding: 0 1rem;
    margin-bottom: 20;
    
}

.site-header__brand {
    /*flex: 0 0 50%;*/
    max-width: 50%;

    font-size: clamp(1.75rem, 5rem, 8rem);
}

