.lyrics-container {
  max-height: 60vh;
  overflow-y: auto;
}

.line {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 1rem;
  justify-content: start;
}

.word-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 0.2rem;
  min-width: 4ch; 
}

.chord {
  font-size: 1.5rem;
  font-weight: bold;
  color: blue;
  line-height: 1;
  min-height: 1em;
}

.lyrics {
  font-size: 1.5rem;
  line-height: 1.2;
}
